<!DOCTYPE html>
<html ng-app="blocChat">
    <head lang="en">
        <meta charset="UTF-8">
        <title>Bloc Chat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700,300">
        <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
        <link rel="stylesheet" type="text/css" href="/styles/main.css">
        <link rel="stylesheet" type="text/css" href="/styles/modal.css">
        <link rel="stylesheet" type="text/css" href="/styles/landing.css">
    </head>
    <body>
        <nav class="sidebar" ng-controller="NavCtrl as nav">
            <h1 class="chat-title">Bloc Chat</h1>
            <button type="button" class="btn btn-default" ng-click="nav.open('sm')">New Room</button>
            <table  class="rooms">
                <tr ng-repeat="room in nav.room.all">
                    <td class="rooms-links">
                        <a class="room-button" ng-click="setRoom(room)">{{room.roomName}}</a>
                    </td>
                </tr>
            </table>
        </nav>

        <ui-view></ui-view>

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-database.js"></script>

        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyB7mM4DwWguWsA6vDNTY0gq1Av35EWhDt0",
            authDomain: "bloc-chat-70e11.firebaseapp.com",
            databaseURL: "https://bloc-chat-70e11.firebaseio.com",
            projectId: "bloc-chat-70e11",
            storageBucket: "bloc-chat-70e11.appspot.com",
            messagingSenderId: "613047618270"
          };
          firebase.initializeApp(config);
          </script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
          <script src="/scripts/app.js"></script>
          <script src="/scripts/controllers/NavCtrl.js"></script>
          <script src="/scripts/controllers/LandingCtrl.js"></script>
          <script src="/scripts/controllers/RoomAddModalCtrl.js"></script>
          <script src="/scripts/controllers/UsernameSetModalCtrl.js"></script>
          <script src="/scripts/services/BlocChatCookies.js"></script>
          <script src="/scripts/services/Room.js"></script>
          <script src="/scripts/services/RoomAdd.js"></script>
          <script src="/scripts/services/Message.js"></script>
          <script src="/scripts/services/Authentication.js"></script>
    </body>
</html>
